services:
  driver_1:
    build:
      context: .
      dockerfile: Dockerfile.driver
    image: evcharging-driver
    container_name: evcharging_driver_1
    environment:
      KAFKA_BROKER: 172.17.0.1:9092
    command: sh -c 'sleep 25 && python driver/ev_driver.py DRIVER-001 172.17.0.1 5000'
    networks: 
      - evcharging_net
    stdin_open: true
    tty: true

  driver_2:
    build:
      context: .
      dockerfile: Dockerfile.driver
    image: evcharging-driver
    container_name: evcharging_driver_2
    environment:
      KAFKA_BROKER: 172.17.0.1:9092
    command: sh -c 'sleep 25 && python driver/ev_driver.py DRIVER-002 172.17.0.1 5000'
    networks: host
    stdin_open: true
    tty: true

  driver_auto:
    build:
      context: .
      dockerfile: Dockerfile.driver
    image: evcharging-driver
    container_name: evcharging_driver_auto
    environment:
      KAFKA_BROKER: 172.17.0.1:9092
    command: sh -c 'sleep 30 && python driver/ev_driver_auto.py DRIVER-AUTO 172.17.0.1 5000 data/charging_requests.txt'
    volumes:
      - ./data:/app/data
    networks: 
      - evcharging_net

  registry:
    build:
      context: .
      dockerfile: Dockerfile.registry
    image: python:3.11-slim
    container_name: evcharging_registry
    working_dir: /app
    command: sh -c "pip install flask flask-cors && python registry/ev_registry.py"
    volumes:
      - ./registry:/app/registry
      - ./data:/app/data
    ports:
      - "5001:5001"
    networks: 
      - evcharging_net

 

networks:
  evcharging_net:
    driver: bridge