services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    container_name: evcharging_zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - evcharging_net

  kafka:
    image: confluentinc/cp-kafka:7.3.0
    container_name: evcharging_kafka
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      ALLOW_PLAINTEXT_LISTENER: "yes"
    ports:
      - "9092:9092"
    networks:
      - evcharging_net
    healthcheck:
      test: ["CMD", "kafka-broker-api-versions", "--bootstrap-server", "localhost:9092"]
      interval: 10s
      timeout: 10s
      retries: 5

  registry:
    build:
      context: .
      dockerfile: Dockerfile.registry
    image: python:3.11-slim
    container_name: evcharging_registry
    working_dir: /app
    command: sh -c "pip install flask flask-cors && python registry/ev_registry.py"
    volumes:
      - ./registry:/app/registry
      - ./data:/app/data
    ports:
      - "5001:5001"
    networks:
      - evcharging_net

  central:
    build:
      context: .
      dockerfile: Dockerfile.central
    image: evcharging-central
    container_name: evcharging_central
    depends_on:
      registry:
        condition: service_started
      kafka:
        condition: service_healthy
    environment:
      KAFKA_BROKER: kafka:9092
      REGISTRY_URL: http://registry:5001
      OPENWEATHER_API_KEY: ${OPENWEATHER_API_KEY}
    ports:
      - "5000:5000"
    env_file:
    - .env
    volumes:
      - ./data:/app/data
    networks:
      - evcharging_net
    stdin_open: true
    tty: true

  cp_engine_1:
    build:
      context: .
      dockerfile: Dockerfile.cp
    image: evcharging-cp
    container_name: evcharging_cp_engine_1
    depends_on:
      - central
      - kafka
    environment:
      KAFKA_BROKER: kafka:9092
      REGISTRY_URL: http://registry:5001
    restart: unless-stopped
    command: sh -c 'sleep 15 && python charging_point/ev_cp_engine.py CP-001 40.5 -3.1 0.30 central 5000'
    ports:
      - "6001:6001"
    networks:
      - evcharging_net
    stdin_open: true
    tty: true

  cp_monitor_1:
    build:
      context: .
      dockerfile: Dockerfile.cp
    image: evcharging-cp
    container_name: evcharging_cp_monitor_1
    depends_on:
      - central
      - cp_engine_1
    environment:
      KAFKA_BROKER: kafka:9092
    restart: unless-stopped
    command: sh -c 'sleep 20 && python charging_point/ev_cp_monitor.py CP-001 central 5000'
    networks:
      - evcharging_net
    stdin_open: true
    tty: true

  driver_1:
    build:
      context: .
      dockerfile: Dockerfile.driver
    image: evcharging-driver
    container_name: evcharging_driver_1
    depends_on:
      - kafka
      - central
    environment:
      KAFKA_BROKER: kafka:9092
    command: sh -c 'sleep 25 && python driver/ev_driver.py DRIVER-001 central 5000'
    networks:
      - evcharging_net
    stdin_open: true
    tty: true

  driver_2:
    build:
      context: .
      dockerfile: Dockerfile.driver
    image: evcharging-driver
    container_name: evcharging_driver_2
    depends_on:
      - kafka
      - central
    environment:
      KAFKA_BROKER: kafka:9092
    command: sh -c 'sleep 25 && python driver/ev_driver.py DRIVER-002 central 5000'
    networks:
      - evcharging_net
    stdin_open: true
    tty: true

  driver_auto:
    build:
      context: .
      dockerfile: Dockerfile.driver
    image: evcharging-driver
    container_name: evcharging_driver_auto
    depends_on:
      - kafka
      - central
    environment:
      KAFKA_BROKER: kafka:9092
    command: sh -c 'sleep 30 && python driver/ev_driver_auto.py DRIVER-AUTO central 5000 data/charging_requests.txt'
    volumes:
      - ./data:/app/data
    networks:
      - evcharging_net

  cp_engine_2:
      build:
        context: .
        dockerfile: Dockerfile.cp
      image: evcharging-cp
      container_name: evcharging_cp_engine_2
      depends_on:
        - central
        - kafka
      environment:
        KAFKA_BROKER: kafka:9092
        REGISTRY_URL: http://registry:5001
      restart: unless-stopped
      command: sh -c 'sleep 15 && python charging_point/ev_cp_engine.py CP-002 40.4 -3.2 0.35 central 5000'
      ports:
        - "6002:6002"
      networks:
        - evcharging_net
      stdin_open: true
      tty: true

  cp_monitor_2:
    build:
      context: .
      dockerfile: Dockerfile.cp
    image: evcharging-cp
    container_name: evcharging_cp_monitor_2
    depends_on:
      - central 
      - cp_engine_2
    environment:
      KAFKA_BROKER: kafka:9092
    restart: unless-stopped
    command: sh -c 'sleep 20 && python charging_point/ev_cp_monitor.py CP-002 central 5000'
    networks:
      - evcharging_net
    stdin_open: true
    tty: true
    
  web_ui:
    build:
      context: .
      dockerfile: Dockerfile.ui
    container_name: evcharging_ui
    depends_on:
      - central
    environment:
      CENTRAL_HOST: central
      CENTRAL_PORT: 5000
    ports:
      - "8000:8000"
    networks:
      - evcharging_net
    restart: unless-stopped

  weather:
    build:
      context: .
      dockerfile: Dockerfile.weather
    image: evcharging-weather
    container_name: evcharging_weather
    depends_on:
      - central
      - registry
    environment:
      OPENWEATHER_API_KEY: ${OPENWEATHER_API_KEY}
      CENTRAL_API_URL: http://central:5003
    command: sh -c "sleep 35 && python weather/ev_weather.py"
    ports:
      - "5003:5003"
    networks:
      - evcharging_net
    dns:
      - 8.8.8.8
      - 8.8.4.4
    stdin_open: true
    tty: true


networks:
  evcharging_net:
    driver: bridge